*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --ff-base: "Inter", sans-serif;
  --title: 600 1.5rem/2 var(--ff-base);
  --label: 400 1rem/1.25 var(--ff-base);
  --paragraph: 300 1rem/1.25 var(--ff-base);
}

main{
   width: 65rem;
  height: 48rem;
  font-family: var(--ff-base);
  margin: 0 auto;
  background-color: var(--background-primary);
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.437rem;
  max-width: 100%;
   & img{
    width: 1.906rem;
    height: 1.458rem;
  }

  & h1{
    font: var(--title);
    font-weight: 700;
  }

}

a{  
  text-decoration: none;
  font: var(--label);
}

section{
  display: grid;
   width: 40rem;
  height: 4.70rem;
  margin: 0 auto;
  & h2{
    font: var(--title);    
  }

  & .inside-items{
    width: 100%;
    height: 2.75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 2.75rem;
    
    & input{
      width: 28.187rem;
      height: 2.75rem;
      border-radius: 12px;
      border: 1px solid var(--border-primary);
      padding: 1rem;
      font: var(--paragraph);
    }

    & button{
      width: 10rem;
      height: 2.75rem;
      border-radius: 12px;
      font: var(--label);
      background-color: var(--color-brand) ;
      color: var(--always-white);
    }
  } 

}

ul{
  display: grid;
  gap: 0.75rem;
 
  list-style: none;
  margin-top: 2rem;


  & li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    max-width: 100%;
    height: 49px;
    border-radius: 8px;
    background-color: var(--background-secondary);
    font: var(--paragraph);

    
    & .click-trash{
      width: 2rem;
      margin-left: auto;
      display: inline-block;
    }   
    
    
  }  
}

input::placeholder{
  padding: .5rem;
  font: var(--paragraph);
  color: var(--border-primary);
}

#mensage-error{
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    max-width: 100%;
    height: 2.75rem;
    border-radius: 8px;
    background-color: var(--color-danger);
    margin-top: 2rem;  
    font: var(--paragraph);
    color: var(--always-white);

    & .closed{
      margin-left: auto;
    }    

    display: none;
}